*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

.navbar{
	display:flex;
	background-color: #2F4F4F;
	position: sticky;
	top: 0;
}

.navbar ul{
	display: flex;
	list-style: none;
	margin: 20px 0px;
}

.navbar ul li{
	font-family: Garamond, serif;
	font-size: 1.1rem;
	font-weight: bold;
}

.navbar ul li a{
	text-decoration: none;
	color: #FFFAF0;
	padding: 8px 25px;
	transition: all .5s ease;
}

.navbar ul li a:hover{
	background-color: #FFFAF0;
	color: #000000;
	box-shadow: 00 10px #FFFAF0;
}

#home{
	display: flex;
	flex-direction: column;
	background-color: #000000;
	height: 840px;
	justify-content: center;
	align-items: center;
	color: white;
}

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top:20%;
}

.main span{
	text-transform: uppercase;
	font-family: Garamond, serif;
	text-align: center;
	display: block;
}

.txt1 {
	letter-spacing: 4px;
	font-size: 55px;
	color: #F8D9C6;
	margin-bottom: 10px;
	animation: text 3s 1;
	background: black;
	position: relative;
}

.txt2 {
	font-size: 30px;
	color: #F8D9C6;
    background: black;
}
@keyframes text {
	0%{
		color: white;
		margin-bottom: -30px;
	}

}
#gallery{
	display: flex;
	flex-direction: column;
	font-size: 30px;
	background-color: #000000;
    align-items: center;
	color: #F8D9C6;
	padding: 60px;
}

.pic{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}

.pic img{
	width: 360px;
	height: 240px;
	margin: 10px;
}

#contact{
	display: flex;
	flex-direction: column;
	background-color: #000000;
	height: 840px;
	font-size: 30px;
    align-items: center;
	color: #F8D9C6;
	padding: 60px;
}


#about{
	display: flex;
	flex-direction: column;
	background-color: #000000;
    align-items: center;
	height: 840px;
	font-size: 30px;
	color: #F8D9C6;
	padding: 60px;
}